<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028097243563-uhonsrjvd6g0icqdomlb6s2pambuhoh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028097243563-uhonsrjvd6g0icqdomlb6s2pambuhoh9</string>
	<key>API_KEY</key>
	<string>AIzaSyC9OCs4_4X3AUg4lURDDctt8zInrenASVk</string>
	<key>GCM_SENDER_ID</key>
	<string>1028097243563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodOrder</string>
	<key>PROJECT_ID</key>
	<string>loungefood-eeb7e</string>
	<key>STORAGE_BUCKET</key>
	<string>loungefood-eeb7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028097243563:ios:b8ef45bbe463aca3fa3aee</string>
</dict>
</plist>